html{
    background-image: "url(Annotation 2019-10-16 100415)";
    background-repeat: space;
}

*{
    padding: 0%;
    margin: 0%;
}
.table-header{
    width: 100vw;
    height: 6.62vh;
    background: Tan;
    border-bottom: 0.15vh solid SaddleBrown;
    position: fixed;
    z-index: 1;
}
.container {
    display:grid;
    grid-template-rows: 10vh 90vh;
    grid-template-columns: 1fr 10fr 1fr;
    grid-column-gap: 0px
}   
.grid-centre{
    justify-content: center;
    background: wheat
}
p.Header {
    font-size: 7vh;
    font-family: 'Amatic SC', cursive;
}
.grid-edge{
    background: BurlyWood;
    z-index:1;
}
.grid-upper{
    background: Tan;
    border-bottom: 0.15vh solid SaddleBrown;
}
.grid-right{
    border-left:0.15vh solid SaddleBrown;
}
.grid-left{
    border-right:0.15vh solid SaddleBrown;
}
.login1{
    justify-content: center;
    text-align: center;
    padding-top: 10vh;
}
.login2{
    justify-content: center;
    text-align: center;
}
a{
    color: #000 !important;
    text-decoration:none;
}
.main-container{
    display:grid;
    grid-template-columns: 7% 93%;
    overflow: hidden;
}
.home-container{
    display:grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    border-bottom:0.15vh solid SaddleBrown;
    z-index:1
}
.homer{
    justify-content: center;
    text-align: center;
    font-size: 2vw;
}
.home-book{
    height: 7vh;
    width: 4vw;
}
.grid-main{
    height:88.4vh;
    width: 90vw;
    padding-left: 3vw;
}
.news{
    padding-left: 5vw;
    width: 5vw;
    padding-top: 0%;
    vertical-align: top;
}
.table-first{
    width:5vw;
}
.middle{
    text-align: center;
}
.table-main{
    text-align: center;
    margin-left: 11vw;
    margin-right: 1vw;
    border:1px solid SaddleBrown;
    border-radius:7px ;
    font-size:3vw;
}
.img-news{
    width: 310px;
    height: 190px;
    box-shadow: 3px 4px 14px 0px black;
}
.img-book{
    width: 140px;
    height: 260px;
    box-shadow: 3px 4px 14px 0px black;
}
input, select{
    width: 400px;
    height: 30px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2) inset;
    border-radius: 10px;
}
.ad{
    width:80%;
    height: 14%;
}
.ader{
    padding-left: 10%
}
.haeder{
    padding-top: 1vh;
    font-size: 2vh;
}
.booker{
    padding-top: 3vh;
    padding-left:0.5vw;
    padding-bottom: 1vh;
}
.len{
    padding-top: 3vh;
    padding-left:0.5vw;
    padding-bottom: 3vh;
}
.sub-container{
    text-align: center;
    justify-content: center;
}
.former{
    padding-top:3vh ;
}
.former-first{
    padding-top:10vh
}
.action{
    z-index: 1000;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
@media only screen and (max-width: 525px) {
    p.Header {
        font-size: 6vh;
        font-family: 'Amatic SC', cursive;
    }
    input, select{
        width: 300px;
        height: 20px;
}
vailgn{
    vertical-align: top;
}